.second {
	background-color: $color-section-second;
}

.title-second {
	font-size: 2.5em;
	margin-bottom: 10px;
}

.text-second {
	font-size: 1.2em;
	margin-bottom: 15px;
}
.contact-title {
	font-size: 2.5em;
	margin-bottom: 5px;
}

.container__contact-download {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@include media("<=phoneL") {
		grid-template-columns: 1fr;
	}
}

.curriculum-button-title {
	font-size: 2.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button3 {
	display: inline-block;
	padding: 0.4em 1.3em;
	margin: 0.3me 0.3em 0.3em 0;

	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: $font-titles;
	font-weight: bold;
	color: #ffffff;
	background-color: $color-section-first;
	text-align: center;
	transition: all 0.2s;
	@media all and (max-width: 30em) {
		display: block;
		margin: 0.2em auto;
	}
}
.button3:hover {
	background-color: #0f6499;
}
.button3:active {
	transform: scale(0.7);
}
