.third {
	background-color: $color-section-third;
}
// .title-third {
// 	font-size: 2.5em;
// }

.title-xp {
	margin-top: 10px;
	font-family: $font-titles;
	font-size: 1.5em;
	font-weight: bolder;
	line-height: 1em;
}

.text-list {
	font-size: 1.3em;
	line-height: 1.5em;
}
